body {
    font-family: sans-serif;
}

#calendar {
    position: absolute;
    top: calc(50% -  125px);
    left: calc(50% - 125px);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.2);
    font-size: 0.75rem;
}

#calendar-label {
    font-weight: bold;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 1px solid rgb(240 240 240);
}

td, th {
    padding: 0.75rem;
    text-align: center;
    font-weight: normal;
}

.tool-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0.5rem 0;
}

.action button {
    transform: scale(1.75);
    border: none;
    cursor: pointer;
    background: transparent;
    padding: 4px 8px;
}

.current-date {
    background-color: rgb(240, 240, 240);
    color: rgb(38, 132, 240);
    border-radius: 50%;
}